.mp-container {
    align-items: center;
}

.mp-info {
    max-width: 75%;
    margin-left: auto;
}

.mp-link {
    color: rgb(29, 116, 222);
}

.mp-link:visited {
    color: rgb(29, 116, 222);
}

.mp-chip {
    color: rgb(29, 116, 222);
    background-color: rgb(189, 203, 248);
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: bold;
}
